[2016-04-21 16:18] wcastand opened #3 "Question about startRangingBeaconsInRegion and his eventListener"
Hi,

I would like to know if it's possible to fire this event (``` beaconsDidRange ```) even when beacons array is empty.

Right now, there is no way for me to update my list of beacons.
I need to know if a beacon is in range and update my list item to active or not, but when there is no beacon the event is not fired and i can't update my beacon list. :/

And i would like to avoid making a ``` sta

[2016-04-21 16:46] mmazzarolo commented on #3
Hello there,
you are totally right, I was already planning on doing something like this.
After [this commit](https://github.com/mmazzarolo/react-native-beacons-android/commit/e22b1a1becfaed4334c9f70393973e7ec53e5dd5) the event should be triggered even if the beacons array is empty.

[2016-04-22 09:01] wcastand commented on #3
Do you have an idea of when this is going to be pushed ? :)
Do you think it's possible to choose the format of the id sent by the event ? ( Hex or UUID )

And if it's possible to have the same info as `react-native-ibeacon` in the data that sent back the event beaconsDidRange.

[code]

[2016-04-22 10:12] mmazzarolo commented on #3
Done :)

I'll take a look at it as soon as I can ;)

[2016-04-22 11:22] wcastand commented on #3
Thank for your feedback and reactivity. That's awesome !! :)

[2016-04-22 11:22] #3 closed

[2016-04-22 12:04] mmazzarolo opened #4 "Choosing the format of the ID sent by the event (Hex or UUID)"
Choosing the format of the ID sent by the event (Hex or UUID)

[2016-04-22 12:05] mmazzarolo opened #5 "Use the same standard of react-native-ibeacons for the ranging output events"
From #3

[2016-04-22 12:09] mmazzarolo commented on #3
No worries, I'm using this module in production, I'd love to keep it updated (and maybe merge it with `react-native-ibeacons` in the future).
Issues posts and pull requests are welcome!

P.S.: I splitted your suggestions in two more issues: #4, #5

[2016-04-22 12:41] mmazzarolo commented on #5
@wcastand: can you provide me an example of the output of a ranging event of `react-native-ibeacons`?

[2016-04-22 13:35] mmazzarolo commented on #5
I published a new version on npm (1.1.2) and I'm testing it just right now.
Ranging output from `react-native-beacons-android`:

[code]

Ranging output from `react-native-ibeacons`:

[code]

[2016-04-22 13:36] mmazzarolo commented on #4
Changed Hex outuput to Int #5

[2016-04-22 13:37] #4 closed

[2016-04-22 14:15] wcastand commented on #5
Thanks, i'm actually quite sad, because i'm suppose to based my app on the proximity :'(

You are using AltBeacon SDK. Did you look to SDK like Estimote ?

[2016-04-22 14:58] mmazzarolo commented on #5
The Estimote SDK seems to be much less flexible then the AltBeacon SDK (correct me if I'm wrong).
But!
From my little knowledge the proximity info on iOS is a calculation on signal strength and accuracy, so you might use directly the `distance` field of the android version and associate some ranges to "near", "far" etc...
Also, If you're able to find a distance - proximity conversion I'll gladly a

[2016-04-22 14:59] mmazzarolo opened #6 "Add the proximity info on ranging response"
From #5.

Some useful stuff:
- [StackOverflow: estimating-distance-to-ibeacon-on-ios](http://stackoverflow.com/questions/23392665/estimating-distance-to-ibeacon-on-ios)
- [StackOverflow: understanding-ibeacon-distancing]
(http://stackoverflow.com/questions/20416218/understanding-ibeacon-distancing)
- [StackOverflow: measure-distance-to-ibeacon-from-android-device](http://stackoverflow.com/question

[2016-04-22 15:11] mmazzarolo commented on #6
Gonna implement [this](https://www.pubnub.com/blog/2015-04-15-build-android-beacon-ibeacon-detector/) in a minute.

[2016-04-22 15:32] mmazzarolo commented on #5
Added proximity (might need some tuning).

Ranging output from `react-native-beacons-android`:

[code]

Ranging output from `react-native-ibeacons`:

[code]

[2016-04-22 15:32] #5 closed

[2016-04-22 15:33] mmazzarolo commented on #6
Landed on 1.1.5, might need some tuning.

[2016-04-26 09:54] wcastand commented on #6
hi,
I actually test react-native-ibeacon on IOS and this one on android.
I have access to and estimote beacons.
and the result from both app are really different.

With my phone next to each other and the beacons 5meter away approximately, i get this result :

[code]

[code]

Do you know if we can use the same SDK on IOS and Android in order to have the same result, or at least something similar.

[2016-04-26 10:23] mmazzarolo commented on #6
I'll do some research on the Estimote SDK, but in my opinion this library should continue using the Alt Beacons SDK since it supports almost every kind of beacons, [Estimote included](https://forums.estimote.com/t/estimote-beacons-not-detected-with-altbeacon-library/3129).
I also still need to do a lot of testing on aligning the results of this library with the iBeacons one (hope to do them this w

[2016-05-11 19:35] RezaRahmati opened #7 "major and minor values are null in regionDidEnter, and regionDidExit"
Hello

I am trying to use monitoring api,
First of all I only would receive the regionDidExit event, so we found that it seems there is typo in line 131 of BeaconAndroidModule.java (both of the events are regionDidExit), so I changed that locally, now I get both events, but the problem is minor and major are empty.
I am calling the api as this
[code]
and this

[code]

but no difference
and this is

[2016-05-11 19:45] RezaRahmati opened #8 "I can not make it work for Eddystone"
Hello

I have tried to make it work for Eddystone by the custom layout

I have tried these layouts and it beacons array in data is empty.

"s:0-1=feaa,m:2-2=00,p:3-3:-41,i:4-13,i:14-19" from [this site](https://altbeacon.github.io/android-beacon-library/eddystone-how-to.html)

"s:0-1=feaa,m:2-2=00,p:3-3:-41,i:4-13,i:14-19;d:20-21" from [https://github.com/RadiusNetworks/scanbeacon-gem/commit/8da47

[2016-05-11 19:47] mmazzarolo commented on #7
Hello there!
First of all thank you for the info about the typo. I fixed it and I'll update the NPM release as soon as possible (I'm not on my personal pc right now).
Regarding your issue I must admit that I worked more on the beacons ranging than on the beacons monitoring, but I'm planning to test it soon too (in two days from now I guess).
If you catch the bug before me just send a pull request

[2016-05-11 19:57] mmazzarolo commented on #8
Try adding all the following layouts:
`"s:0-1=feaa,m:2-2=00,p:3-3:-41,i:4-13,i:14-19"`
`"x,s:0-1=feaa,m:2-2=20,d:3-3,d:4-5,d:6-7,d:8-11,d:12-15"`
`"s:0-1=feaa,m:2-2=10,p:3-3:-41,i:4-20v"`

As you can see from [the `addParser` method on line 73](https://github.com/mmazzarolo/react-native-beacons-android/blob/master/android/src/main/java/com/mmazzarolo/beaconsandroid/BeaconsAndroidModule.java) I'm i

[2016-05-11 20:03] RezaRahmati commented on #8
First, thanks for fast response :)
Yes, I have tried to add all of them tough, but the same result, nothing is found
I thought you might have some clue about why it's not working

[2016-05-11 20:08] mmazzarolo commented on #8
Unfortunately I don't have any EddyStone to test :(
If you're interested you can debug the module by using the `adb logcat` command...

[2016-05-30 13:28] RezaRahmati opened #9 "How can I change the interval of firing events?"
Hi
Is There any way that I can change the interval of firing events (specially ranging)?

[2016-05-30 13:33] mmazzarolo commented on #9
Hey!
Take a look at [this (section _How do I customize the background scan rate?_)](https://altbeacon.github.io/android-beacon-library/battery_manager.html).
Are you able to implement it by yourself?
Otherwise I might expose that API if it is needed, let me know! :)

[2016-05-30 13:34] mmazzarolo commented on #6
I'm closing, feel free to re-open if needed!

[2016-05-30 13:34] #6 closed

[2016-05-30 14:19] RezaRahmati commented on #9
Hey

Thanks a lot, I will try to change that, but I would appreciate if you could make it in the API

[2016-05-30 15:19] mmazzarolo commented on #9
Hey there, I just published a new release on npm (`1.2.1`):

[code]

They needs some testing though, I just tried succesfully the `setForegroundScanPeriod`.
If you need any other method take [here](https://altbeacon.github.io/android-beacon-library/javadoc/index.html) you can find every method I can implement.
You can easily implement them too! Just take a look at my last commit that shows what yo

[2016-05-30 15:42] RezaRahmati commented on #9
Thanks, you are so fast man :)

[2016-05-30 18:36] RezaRahmati commented on #9
I have test that, it works fine, thanks :)
:+1:

[2016-05-30 18:36] #9 closed

[2016-06-28 19:21] MacKentoch opened #10 "clean and works: thank you!"
Your version suits better my needs (*and my way coding*).

### Thank you!
Now I can use beacons in iOS and in Android 👍 +1

[2016-06-28 19:22] MacKentoch commented on #10
it is not an issue (as title says 😄 )

[2016-06-28 19:25] mmazzarolo commented on #10
Hey! Thanks, glad to know it works! 👍
Please keep me updated on any issue you find and feel free to send any PR/request!

[2016-06-28 19:26] mmazzarolo commented on #7
Hey @RezaRahmati, any news on the bug?Did you try the last version of `react-native-beacons-android`?

[2016-06-28 19:38] MacKentoch commented on #10
@mmazzarolo sure.

I'm preparing a _super simple project_ just for showing iOS and Android RN examples for playing with iBeacons.
I will give you link when I'm done so that it will be at least a 1st example to implement it with `react-native-beacons-android`.

Have a look at iOS version this [PR#44](https://github.com/frostney/react-native-ibeacon/pull/34) to help others like me

[2016-06-28 19:42] mmazzarolo opened #11 "api-parity with react-native-ibeacon"
- [x] Ranging output (more info [here](https://github.com/mmazzarolo/react-native-beacons-android/issues/5))
- [ ] Monitoring output (needs testing)
- [ ] Region parameter should be an object
- [x] API method name `startRangingBeaconsInRegion`
- [x] API method name `stopRangingBeaconsInRegion`
- [x] API method name `startMonitoringForRegion `
- [x] API method name `stopMonitoringForRegion `
- [x]

[2016-06-28 19:47] mmazzarolo commented on #11
## Info on ranging output

Current ranging output from `react-native-beacons-android`:

[code]

Current ranging output from `react-native-ibeacons`:

[code]

## Info on proximity

The `proximity` field in the output of `react-native-beacons-android` is calculated this way:

[code]

More info here: #5 and  #6

[2016-06-28 19:55] mmazzarolo commented on #10
Nice!

Don't know if you're interested but here is a little helper I'm using for handling both `react-native-ibeacon` and `react-native-beacons-android`.
It is exaggeratedly verbose and customized, I know, but I did it this way for simplifying my unit-testing and I didn't have time for creating an easier example 🙍

[code]

[2016-06-28 20:05] MacKentoch commented on #10
Nice, thank you.

Nice idea: I guess I will make then **another example — more advanced and better for production —** later using this (_I agree with you and I will already use it on my projects_).

I'd like the 1st example to be as easy as possible not to scary newcomers 😄 (_it takes time for me to make it clear since I have habbits that are not for newcomers_).

[2016-06-28 23:11] RezaRahmati commented on #7
@mmazzarolo Actually I start using ranging on beacons and I didn't check that

[2016-06-28 23:11] RezaRahmati commented on #7
BTW we are using the latest version for our project :)

[2016-06-29 06:41] mmazzarolo commented on #7
@RezaRahmati thanks for the info, I'll keep the issue open then :)

[2016-06-29 11:55] MacKentoch commented on #10
1st example:  [simple project](https://github.com/MacKentoch/reactNativeBeaconExample).

Thank you @mmazzarolo !
Hope we will see even more beacon apps or new ideas from beacons.

[2016-06-29 13:01] mmazzarolo commented on #10
@MacKentoch: awesome man, added to the README 💇

[2016-06-29 21:11] mint3000 commented on #10
@mmazzarolo is it possible to range for multiple beacons? Something like this:

[code]

When I run this, it seems to only monitor the last UUID in portraitData. Any ideas?

[2016-06-30 08:33] mmazzarolo opened #12 "Ranging for multiple beacons"
From #10, @mint3000 :

Nice question.
Currently the library handles only one ranging sessions (and the altBeacon library used internally [doesn't seem to support multiple monitoring/ranging](https://github.com/AltBeacon/android-beacon-library/issues/170)).
Does anybody know if `react-native-ibeacon` allows multiple ranging?

Interesting discussions:
[Multiple Monitoring, Ranging Notifiers](https:/

[2016-06-30 08:34] mmazzarolo commented on #10
@mint3000, let's discuss it on #12 👍

[2016-06-30 08:34] #10 closed

[2016-07-06 10:19] OFranke opened #13 "Background Monitoring"
Hi,

I am currently experimenting with your lib (thanks a lot! I was able to receive the first signals within minutes!).
Right now I am wondering, how to use the background monitoring. What I want to do is the following:
1. receive the monitoring signal
2. send the signal to my backend API / alternative: create a local notification that is being displayed

Could you point me to the right direction

[2016-07-06 12:22] mmazzarolo commented on #13
Hello @OFranke!

1) Monitoring should work in a similiar way of ranging:

[code]

2) If you need to handle the signal the right place to look for is the `regionDidEnter` and `regionDidExit` callbacks:

[code]

Please keep in mind that beacons monitoring is not tested too much, so any help and feedback is really appreciated 👍

P.S.: For handling the notifications I suggest you to take a look [here]

[2016-07-06 12:30] OFranke commented on #13
Thanks @mmazzarolo for the fast response.

The way I understand background monitoring is: I will get a signal, even when the app is closed (killed, not running in the background). Is that right?

So I wonder how the Beacons.startMonitoringForRegion() function can be executed, if my app has never been opened by the user. Do I need to start the monitoring somehow in native code to make that work?

I

[2016-07-06 12:59] mmazzarolo commented on #13
Sadly background monitoring currently doesn't work when the app is killed (it works in background though).
I already planned to add a support to it but I'm not even close to a preview: I only know I should implement it using an android service but I still haven't looked into services on react-native.
😞

[2016-07-06 13:05] OFranke commented on #13
Ah okay, If I can somehow manage to implement that, I'll post it here, but for the moment I got enough other tasks open.
I've read some nice articles here:
http://developer.estimote.com/android/tutorial/part-2-background-monitoring/#key-takeaways
and here (see comments from Nikolas LeBlanc):
https://community.estimote.com/hc/en-us/articles/201491176-How-Monitoring-in-the-background-works-on-Androi

[2016-07-06 14:15] mmazzarolo commented on #13
Thank you 👍

[2016-07-14 07:33] #13 closed

[2016-07-19 09:11] alessandro-bottamedi opened #14 "Error: cannot read addParse of undefined"
When i execute Beacons.detectIBeacons() or detectCustomLayout i riceve this errors.

RN 0.29
android 5.1

[2016-07-19 09:20] mmazzarolo commented on #14
Hi there!
Can you provide the snippet of code?

Did you install the module using `rnpm`?
I think the error might be related to using `rnpm link` on React-Native 0.29.

Give it a check, your `/android/src/main/java/...yourpackage/MainActivity.java` should be like this:

[code]

And your `/android/src/main/java/...yourpackage/MainApplication.java` should be like this:

[code]

[2016-07-19 09:30] mmazzarolo commented on #14
Instead of doing the above procedure you can also try to just run `react-native link`, it should work! 👍
Let me know if it works for you so that I can update the README.md!

[2016-07-19 09:47] alessandro-bottamedi commented on #14
Thanks resolved, rnpm put these lines:
`import com.mmazzarolo.beaconsandroid.BeaconsAndroidPackage;`
and
`new BeaconsAndroidPackage()`
in MainActivity.java

I copy these lines in MainApplication.java and all works, thanks!

[2016-07-19 09:58] mmazzarolo commented on #14
Yep, that's because since RN0.29 `rnpm` is integrated in `react-native` itself... `react-native link` should work correctly 👍

[2016-07-19 09:58] #14 closed

[2016-07-22 17:33] gpEscrivo commented on #12
I can confirm that `react-native-ibeacon` is able to range for multiple regions.

_`BeaconList.js`_

[code]

_`Beacon.ios.js`_

[code]

Working :)

_`Beacon.android.js`_

[code]

Only looks for last in array :(

[2016-07-23 06:06] app2one opened #15 "Android 6 Compatibility"
The module currently doesn't work on android 6.  It seems start from android 6 additional permission is required on runtime bluetooth usage.  Is anyone come up with any idea?

[2016-07-23 06:32] mmazzarolo commented on #15
Hi!
Thanks for the  info! I'm on holyday right now, I'll take a look at it in 7 days :)

[2016-07-23 09:23] alessandro-bottamedi commented on #15
have you tried with this package?
https://github.com/lucasferreira/react-native-android-permissions

[2016-07-24 03:15] sudharsan1988 commented on #7
I am also having the same issue, I am getting 'Entered new beacons region!', { minor: 0, major: 0, uuid: 'REGION1' }

Here is my code,

`Beacons.detectIBeacons();

[code]

[2016-07-28 01:37] s2t2 opened #16 "The BeaconManager is not bound to the service. Call beaconManager.bind(BeaconConsumer consumer) and wait for a callback to onBeaconServiceConnect()"
Hi, I'm running into the error `The BeaconManager is not bound to the service. Call beaconManager.bind(BeaconConsumer consumer) and wait for a callback to onBeaconServiceConnect()` ~~when I navigate back to this page from another page~~ EDIT: **when i navigate away from the page, then back again, then away again for the second time**, and I'm not sure why.

I bet its probably due to my limited und

[2016-07-28 05:46] mmazzarolo commented on #16
Hi! I'm on holiday right now, I'll take a look at it in the weekend :)

[2016-07-28 10:51] s2t2 commented on #16
Thanks, I think I've at least diagnosed the issue, which is that react-native's `Navigator` [does not trigger `componentWillUnmount`](https://github.com/facebook/react-native/issues/1731). So the event listener never gets removed. Then when navigating back to the page, the page gets mounted again and another event listener gets added, which results in duplicate logging and duplicate attempts to st

[2016-07-28 11:17] mmazzarolo commented on #16
On mobile, sorry for typos :p
It has been ages since I used the classic navigator (I'm using the experimental one) but if I remember correctly you should just play with the `onDidFocus` trigger (for example you can stop the monitoring on route push and start it on route focus).  Let me know and have a nice day man.

[2016-07-28 11:18] mmazzarolo commented on #16
Also, I'll close the issue but feel free to re-open of needed!

[2016-07-28 11:18] #16 closed

[2016-07-28 15:45] s2t2 commented on #16
FYI for googlers, `navigator.push` does not trigger a component's `componentWillUnmount`, but a solution to my question involves using either`navigator.replace` or `navigator.resetTo`, which both do trigger `componentWillUnmount`.

See: https://facebook.github.io/react-native/docs/navigator.html#methods

[2016-07-28 15:55] s2t2 opened #17 "Detect if beacon ranging is on or off"
I'm trying to conditionally trigger `startRangingBeaconsInRegion` only if it is not currently ranging, to avoid the device event emitter listening and logging two different ranging attempts.

Is it possible to detect whether or not ranging is on or off (for a given region)?

[2016-07-29 12:31] #8 closed

[2016-07-29 12:54] mmazzarolo commented on #15
@alessandro-bottamedi Thanks, did you already worked with that module? Is it stable?
[Also, other info on Android M permissions on RN](https://github.com/lwansbrough/react-native-camera/issues/224)

[2016-07-29 14:34] app2one commented on #15
Yes. That module works. Thanks.

從我的 iPhone 傳送

[2016-07-29 16:26] alessandro-bottamedi commented on #15
@mmazzarolo
It seems stable, Next week I will release an app in beta testing with this Android Permissions module,  I'll let you know...

[2016-08-07 10:19] alessandro-bottamedi commented on #15
Here's what I think I understand:

In android 6.0 there are two different levels of permission: NORMAL and DANGEROUS.
For the NORMAL permission is sufficient to place them in the android manifest, while the DANGEROUS must have the permissions at runtime.

to detect beacons you must have bluetooth and localization active and accepted this permissions (I'm right??):

android.permission.BLUETOOTH and

[2016-08-08 15:00] mmazzarolo commented on #15
Thank you Alessandro (sei italiano anche tu, giusto?),
it seems you're correct, if you're interested you can also check the [altbeacons SDK for android documentation about the Marshmellow permissions](http://altbeacon.github.io/android-beacon-library/samples.html).
From your understanding do you thing it would be possibile to handle the runtime permission from `react-native-beacons-android` itself

[2016-08-08 17:08] alessandro-bottamedi commented on #15
(Si italiano, lo hai capito dal mio pessimo inglese o dal nome? :wink: )

The Estimote-Android-SDK docs has much more clear explanation:

Maybe you can insert an explanation like this in the README and the link for these Permissions Packages...

Anyway i think that the Permissions Package must be separated from the others, so you can use it more times in your app for all your permissions needs. Bu

[2016-08-09 03:07] SonalRewri opened #18 "When trying to use "Beacons.detectIBeacons()" getting error undefined is not an object (evaluating 'beaconsAndroid.addParser')"
I checked the link also -
react-native link
rnpm-install info Android module react-native-beacons-android is already linked

Any other thing i can check.

[2016-08-09 06:32] mmazzarolo commented on #18
Why did you already closed the issue? 😄
However I'm feeling it must be related to #14, did you already check it?
What version of React-Native are you using?

[2016-08-09 06:36] mmazzarolo commented on #15
Dal nome, sono l'ultimo che può criticare l'inglese di qualcuno visto il mio, tranquillo!

Yup, gimme two sec

[2016-08-09 06:44] mmazzarolo commented on #15
Done! Closing this issue while waiting for an official solution, thanks @app2one and @alessandro-bottamedi for pointing out this issue.

Feel free to post here if needed 👍

[2016-08-09 11:46] mmazzarolo commented on #18
I just tested it, if you're on RN >= 0.30 you must link the project using `react-native link` and it will link `react-native-android-beacons` correctly.

I'm closing the issue but feel free to comment here 👍

[2016-08-09 11:46] #18 closed

[2016-08-09 11:51] mmazzarolo commented on #17
Hey @s2t2, sorry if I've been late but I just released a new beta version of this library on npm: `react-native-beacons-android 2.0.0-beta.1`.
In this new version you should be able to achieve what you're asking by calling `Beacons.beaconsAndroid.getMonitoredRegions()`.
The `getMonitoredRegions` function returns a promise that resolves an array of the currently monitored regions. If the returned a

[2016-08-09 11:53] mmazzarolo commented on #12
@mint3000
Hey, I just released a new beta version of this library on npm: `react-native-beacons-android 2.0.0-beta.1`.
In this new version you should be able to range for multiple beacons, just remember to use a different identifier (from the example above: `'REGION1'`) for each ranging attempt.

Let me know if it works... it is still in beta 👍

[2016-08-09 12:23] mmazzarolo commented on #7
Since `react-native-beacons-android 2.0.0-beta.3` the output of the `regionDidEnter` event should be the same of `react-native-ibeacon`:

[code]

I can't test it at the moment though...

[2016-08-09 12:31] s2t2 commented on #17
Sounds good!

On Aug 9, 2016 7:51 AM, "Matteo Mazzarolo" notifications@github.com wrote:

[2016-08-10 00:25] SonalRewri commented on #18
Thanks for the reply, the issue got solved.
The RN version is react-native: 0.31.0.

I am facing another problem in detecting the beacons, the error is - "CycledLeScanner: No Bluetooth adapter.  beaconService cannot scan.." Any help is greatly appreciated. I am using Estimote beacons.

I am new one is RN and android development.

[2016-08-10 08:40] mmazzarolo commented on #18
No worries.
That error sounds weird, are you using an emulator/virtual device?

[2016-08-10 11:19] SonalRewri commented on #18
Yes I am using Android emulator .
Is it something related to this. Because when I am using my phone android 4.3 then on real device it's giving me error that batchedBridge is not bundled.

[2016-08-10 20:22] affibox commented on #18
C:\Users\jcbar\Desktop\affibox\reactnative\RuralKing\node_modules\react-native\Libraries\JavaScript…:61 Cannot read property 'addParser' of undefined

[2016-08-11 16:12] affibox commented on #14
Quote:"Thanks resolved, rnpm put these lines:
import com.mmazzarolo.beaconsandroid.BeaconsAndroidPackage;
and
new BeaconsAndroidPackage()
in MainActivity.java

I copy these lines in MainApplication.java and all works, thanks!"

I try this and didn't work.

[2016-08-11 18:34] affibox opened #19 "This modules is throwing some errors"
Please follow this issue on this link: https://github.com/MacKentoch/reactNativeBeaconExample/issues/1

I've try in many ways to install this lib an it only throws errors
![image](https://cloud.githubusercontent.com/assets/8114543/17600237/97c0a454-5fd0-11e6-9d86-38de8e3fe469.png)

I also try this:
""'@affibox Alright this issues is due to RN 0.29+.
rnpm is now integrated into react native does no

[2016-08-11 22:05] mmazzarolo commented on #19
Hello @affibox!
Let's try to isolate the issues by creating a new react-native project (just follow the steps below):
1. I guess you installed globally the react-native cli, let's update it: `npm i -g react-native-cli`
2. Initialize a new react-native project `react-native init TestProject` (this should install a new project with the current `0.30` release)
3. Go to the new project `cd TestProject

[2016-08-17 08:09] mmazzarolo opened #20 "Feedback on version 2.0.0-beta.3"
Hello there,
last week I released version `2.0.0-beta.3`, anyone available for testing it?
Feedback are welcome 😄

New features:
- Code cleanup on the Java side: it is a lot easier to implement new features now
- Added `removeParser(parser: String)` method for removing a specific parser
- Added `setBackgroundScanPeriod(period: int)`, `setBackgroundBetweenScanPeriod(period: int)`, `setForegroundSca

[2016-08-17 08:12] mmazzarolo commented on #17
@s2t2, your feedback would be appreciated [here](https://github.com/mmazzarolo/react-native-beacons-android/issues/20). Thank you ;)

[2016-08-17 08:13] mmazzarolo commented on #12
Feedbacks on this feature are welcome [here](https://github.com/mmazzarolo/react-native-beacons-android/issues/20).

[2016-08-17 08:13] #12 closed

[2016-08-17 10:19] olegdizus commented on #18
Have same error

[2016-08-17 12:55] #19 closed

[2016-08-17 12:56] mmazzarolo commented on #18
Please follow [these steps](https://github.com/mmazzarolo/react-native-beacons-android/issues/19) and let me know the results 👍

[2016-08-18 06:28] olegdizus commented on #18
I just added

[code]

and

[code]

to my MainApplication.java and it solved issue. Reinstalling or using react-native link did not help.

[2016-08-18 06:31] mmazzarolo commented on #18
@olegdizus On which version of React-Native?
It worked for me on both RN0.30 and RN0.31

[2016-08-18 08:00] olegdizus commented on #18
@mmazzarolo react-native 0.29.0

[2016-08-18 08:01] mmazzarolo commented on #18
Ah, that version seems to have some problem with linking...

[2016-08-18 08:15] olegdizus commented on #18
At RN 0.31.0 linking works pretty well. Thanks for help!

[2016-08-18 08:54] mmazzarolo commented on #18
No worries, have fun 👍

[2016-08-19 08:45] hellowupeng opened #21 "Beacon's prop of proximity incorrect."
Hello
I'm using Beacon library with this one and a iOS library.
 First of all, thanks for your library.
 Recent I found when I scan beacons with a iPhone and Android phone, the prop of proximity of result from android phone always show 'near' whenever I change the distance from beacon, but the iPhone result is normal.
 Have you know this problem? or only happened to me, and any way to fix it.

[2016-08-19 08:46] mmazzarolo commented on #21
Hello @hellowupeng,
what version of `react-native` and `react-native-android-beacons` are you using?

[2016-08-19 08:50] hellowupeng commented on #21
version 1.3.1 @mmazzarolo

[2016-08-19 08:59] mmazzarolo commented on #21
#6 might be interesting/related.
Seems weird...
Do the beacons always appear as "near" even if you get really, really far from them (for example when you're almost losing the signal)?

[2016-08-19 09:20] hellowupeng commented on #21
@mmazzarolo I made a test with my partner just a moment ago. We found the prop of proximity of your library only return 'immediate' and 'near', but in iOS it return 'immediate', 'near', 'far', 'unknown'.

[2016-08-19 09:50] mmazzarolo commented on #21
That's interesting, I'm using only the `immediate` and `near` info, I never checked for `far` but it should work too according to the [this](https://www.pubnub.com/blog/2015-04-15-build-android-beacon-ibeacon-detector/).
It may be related to the type of your beacons.
I can't work on it this week but in the meanwhile you can tweak the [`getProximity` method](https://github.com/mmazzarolo/react-nati

[2016-08-22 02:10] hellowupeng commented on #21
OK, thanks for your helping, I'll have a try.

[2016-08-25 20:03] fkattan commented on #20
Hi,

Thanks for this component;  It's working fine on a non-production app. One thing I noticed is that it lets you monitor multiple times the same region; I think it should disregard silently any attempt to start monitoring a region that's already being monitored.

I modified startMonitoring:

`@ReactMethod
    public void startMonitoring(String regionId, String beaconUuid, Callback resolve, Call

[2016-08-25 20:08] mmazzarolo commented on #20
Hey @fkattan! Happy that you're using this library, are you on `2.0.0`?
You exposed an interesting thing and I agree, it shouldn't allow you to monitor the same region more than once.
I'm pinning it as one of the next thing I'll take a look into.

[2016-08-25 20:10] mmazzarolo commented on #21
@hellowupeng, did you get a chance to take a look at it?

[2016-08-25 20:16] fkattan commented on #20
Yes. 2.0.0. I just posted some code to do just that.

On Thu, Aug 25, 2016 at 17:08 Matteo Mazzarolo notifications@github.com
wrote:

[2016-08-25 20:19] mmazzarolo commented on #20
Yep, I was already thinking about a similiar solution.
I'll add it and probably release it tomorrow.
Thanks again for the feedback and the code :+1:

[2016-08-26 06:24] mmazzarolo commented on #20
@fkattan sorry, I can't add the feature this week... may you send a PR for it?

[2016-09-07 01:19] sudharsan1988 opened #22 "Any luck with Eddystone?"
Hi, just wanted to check back to see whether you got a chance to look into the Eddystone support for this module. Man, this library is awesome :) If we could add Eddystone & Background service, that would cover most of the things.

[2016-09-07 06:16] mmazzarolo commented on #22
Hello there!
Unfortunately I can't test Eddystone support myself, I only have a bunch of Estimotes and Kontakt beacons for testing purpose.
I can help you debug their monitoring though!  It's really not that hard, and no Java knowledge is needed.
First of all let's check if the default [log I included](https://github.com/mmazzarolo/react-native-beacons-android/blob/master/android/src/main/java/com

[2016-09-07 06:17] mmazzarolo commented on #22
Regarding the background service... the last time I took a look at it it didn't seem doable on React-Native... but I would be happy to be proved wrong.

[2016-09-07 16:41] sudharsan1988 commented on #22
Hi, I really appreciate your prompt response. I just followed your instruction and here is some of the log content,
1. I started Ranging with Estimote on Android device (Primary Packet Type - Eddystone URL/UID - I tried both)
2. Here is code that I am using in my JS component file,

     `Beacons.detectCustomBeaconLayout('s:0-1=feaa,m:2-2=00,p:3-3:-41,i:4-13,i:14-19');
     Beacons.detectCustomBea

[2016-09-07 16:56] sudharsan1988 commented on #22
For the background service, I went through some forums and it seems, we can do it on React Native. Here is the stackoverflow link where people discussing on Background intent service,

http://stackoverflow.com/questions/34687473/background-service-on-react-native-android

Also, the below listed repo have this background service but it's been commented now. @devfd mentioned that he would release th

[2016-09-07 19:22] mmazzarolo commented on #22
Thank you so much @sudharsan1988, you've been incredibly helpful!

Regarding the Eddystone: you did everything right ([you followed this, am I right?](https://altbeacon.github.io/android-beacon-library/eddystone-how-to.html)), but it still seems that the AltBeacons Library (the one I implemented in this module) is not able to detect the Eddystone beacons... that's weird and unfortunately without a

[2016-09-07 19:26] mmazzarolo commented on #22
[I also updated the readme!](https://github.com/mmazzarolo/react-native-beacons-android/blob/master/README.md#eddystone-support)

[2016-09-07 19:27] #20 closed

[2016-09-07 19:27] #7 closed

[2016-09-07 19:28] mmazzarolo commented on #21
@hellowupeng 😢

[2016-09-07 19:28] #21 closed

[2016-09-09 00:23] sudharsan1988 commented on #22
@mmazzarolo , really thanks for updating the readme. I'm sorry that I couldn't help you with Java part but whenever you need, I can do testing with the Eddystone(Estimote) that I have got.

Also, for the background service, could you take a look at this library as it's using the background service even when the app is killed. I have tested this myself and that works fine. I can get the push notifi

[2016-09-10 09:48] sudharsan1988 commented on #22
Hi, this article may be helpful for background service. https://dzone.com/articles/how-to-develop-a-simple-step-counter-app-on-reactn

I tried their example app on Android Emulator but no luck. There are some issues in the Example app.

Here is their github repo, https://github.com/Singree/react-native-example-app

[2016-09-11 09:46] levint commented on #22
I'll take a look on this.

[2016-09-11 20:01] mmazzarolo commented on #22
@sudharsan1988 sorry, I'm having two busy week at work, I'll take a look at all the links you posted as soon as you can.
@levint That's awesome :) hope to hear news soon, ping me if you need anything

Thank you guys!

[2016-09-12 00:58] sudharsan1988 commented on #22
@mmazzarolo , no worries! I will keep digging for the background service and keep you posted :)

@levint , thank you for helping us out. I have a Eddystone beacon(Estimote) with me. I can help you with any testing you want.

[2016-09-12 16:24] micheletedeschi commented on #15
FYI now react native (0.33.0) support android M permission!

[2016-09-12 16:52] mmazzarolo commented on #15
@micheletedeschi Unexpected, nice!
Did you already try it? Any hint on the implementation of it on `react-native-beacons-android`? Thanks!

[2016-09-12 17:01] micheletedeschi commented on #15
Yes and works! Only be sure to ask permission before start ranging or monitoring.

You can find a permission example here: [https://github.com/facebook/react-native/blob/0fb2ccfcc3e6babe28d7d1bcf4635ef2f9191eb1/Examples/UIExplorer/js/PermissionsExampleAndroid.android.js](url)

[2016-09-12 17:07] micheletedeschi commented on #22
@mmazzarolo I have an Estimote beacon but with a firmware update now supports Eddystone!

[2016-09-13 04:18] levint commented on #22
It's not yet working on mine, as of this moment. I also tried installing Beacon Toy on my mobile phone and set it to broadcast as Eddystone-URL, but it still cannot be detected by the react-native app.

Edit:
The native BluetoothLeScanner is able to scan, however when it reaches the library's BeaconParser, it prints out: "This is not a matching Beacon advertisement."

https://github.com/AltBeacon/

[2016-09-13 07:11] mmazzarolo commented on #22
@levint thank you for your support.
It seems an altBeacon issue... if you still have some spare time you might try updating the altBeacon library (in the build.gradle).
I had a similiar issue in the past that was fixed just by downgrading the lib. 👍

[2016-09-13 07:44] levint commented on #22
@mmazzarolo

UPDATE: I made it to work using an Eddystone-capable Beacon. I'll post my findings later. I made adjustments in both the Javascript and Native code. Using Alt Beacon 2.9

[2016-09-13 09:24] levint commented on #22
Hi @mmazzarolo, do you want me to submit a PR or would you like to do it on your own as per my findings?

Technically, adding a BeaconParser should be done before the Consumer (in the library's case, the ReactContextBaseJavaModule subclass) is binded to the BeaconManager instance via (mBeaconManager.bind(this)).

My proposed solution would be to check if the consumer is already bound to the manage

[2016-09-13 09:28] mmazzarolo commented on #22
@levint that's awesome!
Unfortunately I have two really busy weeks ahead, so PRs are welcome!
Otherwise I'll have to take a look at it next month :(

Thank you again!

[2016-09-13 10:31] levint commented on #22
@mmazzarolo Okay, will do before this week ends :)

[2016-09-14 02:38] sudharsan1988 commented on #22
@levint , awesome news! Is it possible for you to share your forked version of repo, I am very excited to test it :)

[2016-09-16 14:29] affibox opened #23 "Attempt to invoke virtual method 'java.lang.String org.altbeacon.beacon.Identifier.toString()' on a null object reference"
[code]

[2016-09-16 14:30] mmazzarolo commented on #23
Hi! Can you detail it a bit more? What where you trying to do when you received this error?

[2016-09-16 14:30] affibox commented on #23
FYI: all i did was follow your example here: https://www.npmjs.com/package/react-native-beacons-android

[2016-09-16 14:31] affibox commented on #23
I was doing what you say we should do on the npmjs page

[2016-09-16 14:33] mmazzarolo commented on #23
What version o react-native and react-native-beacons-android are you using?

[2016-09-16 14:33] affibox commented on #23
Also. Its a new project so no other dependencies where added but yours.

[2016-09-16 14:33] affibox commented on #23
"dependencies": {
    "react": "15.3.1",
    "react-native": "0.33.0",
    "react-native-beacons-android": "^2.0.0"
  }

[2016-09-16 14:54] mmazzarolo commented on #23
You're right, my mistake.
If you want to fix it right now you can replace [line 233 of `android/src/main/java/com/mmazzarolo/beaconsandroid/BeaconsAndroidModule.java`](https://github.com/mmazzarolo/react-native-beacons-android/blob/master/android/src/main/java/com/mmazzarolo/beaconsandroid/BeaconsAndroidModule.java#L233) with:

[code]

Otherwise you can just provide a beacon uuid to the the `start

[2016-09-16 15:11] affibox commented on #23
It worked. But now this won't work at all and it ended crashing the app:
DeviceEventEmitter.addListener('beaconsDidRange', (data) => {
  console.log('Found beacons!', data.beacons)
});

I can see the beacon I have on android studio but no on the console log;
From Android Studio: 09-16 11:09:39.813 20081-26512/com.ruralking2 D/BeaconsAndroidModule: rangingConsumer didRangeBeaconsInRegion, beacons:

[2016-09-16 15:12] affibox commented on #23
09-16 11:09:42.533 20081-26646/com.ruralking2 E/art: Throwing OutOfMemoryError "pthread_create (1040KB stack) failed: Try again"
09-16 11:09:42.543 20081-26646/com.ruralking2 E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
                                                                Process: com.ruralking2, PID: 20081
                                                                java.lan

[2016-09-16 15:13] affibox commented on #23
After a few seconds the app crashes.

[2016-09-17 15:28] affibox commented on #23
Did you fixed or know why the app is crashing?

[2016-09-17 17:25] mmazzarolo commented on #23
Oh, you edited the previous post, you said it was working, right?
I'll take a look into it.
You're using it on a real device, not on emulator, right?

[2016-09-17 17:46] affibox commented on #23
Yes. Real device.  Samsung Note 3

[2016-09-17 22:15] mmazzarolo commented on #23
In the meanwhile you can provide an uuid to the function as the second parameter, which is how the ranging should be used most of the time :)

[2016-09-19 18:29] sudharsan1988 commented on #22
@levint, just curious to know whether you have got any chance to PR the changes regarding the Eddystone?

[2016-09-19 19:19] affibox commented on #23
did you found anything regarding this issue?

[2016-09-19 19:28] mmazzarolo commented on #23
I'm sorry man but I'm really busy with my job and other stuff...
I'd love having a bit more time to put in this project but it is really time consuming because you can't just sit down and code, you need to test it on real devices and with beacons.
Please be patient.

Also, you already have two available solution to this issue:
1. Did you already try providing the beacon UUID to the `startRangingBe

[2016-09-19 20:08] affibox commented on #23
Sorry if i upset you. FYI, the app is working and not crashing for now. We are still doing some tests to make sure it stays working.

I updated Android studio and with it a bunch a files on the project. Maybe that helped with the crashing.

[2016-09-28 15:04] mmazzarolo commented on #23
The fix I proposed above is not available in `react-native-beacons-android@2.1.0`, let me know if you have any other issues :)

[2016-09-28 15:04] #23 closed

[2016-09-28 15:06] mmazzarolo commented on #22
Hey @levint, sorry to bother you... do you have any info regarding Eddystone? Thanks!

[2016-09-28 15:47] affibox commented on #23
The error for now, was an issue with the J's debugger. Where you try to log the beacon detection on the js debugger on chrome, it crashes the app.

[2016-10-07 15:27] maggialejandro commented on #15
Hi!
I'm trying to make this work on a Nexus 5, Android 6.0.1

npm 3.9.3
node 6.2.1

Also, I added these permissions to the manifest

Here is the code
http://pastebin.com/HTqqZrg3

Any ideas ?
Thanks in advance

[2016-10-18 10:25] sudharsan1988 opened #25 "Need help on frequent enter & exit event"
Hi Matteo,

I have got help from my friend to implement the background service to trigger in-app notification when user enter/exit in Beacon region but we are unable to control the frequency of notifications because of frequent enter & exit event.

Here is the updated code with Background service, it would be really great if you could help out.

https://www.dropbox.com/s/akhv69mflgmg1ru/react-nati

[2016-10-18 15:35] affibox commented on #25
Hi. Does you code detects beacons even when the app was killed or closed?

I need to be able to detect beacons like this.

[2016-10-18 15:37] affibox opened #26 "Detect beacons even when app is terminated"
Is it possible to detect beacons even when the apps was terminated?

I need to implement this on a app and I need some help.

[2016-10-19 16:05] sudharsan1988 commented on #25
Yes, but we can't control the frequency of in-app notification. Currently On Enter and On Exit events are happening very frequently.

[2016-10-20 09:34] JonasWho commented on #11
I've send a pull request for the monitoring part. I have it working in my project with simultaneous monitoring of two different regions on a OnePlus E1003 with Android 5.1.1 and a Galaxy A5 with 6.0.1

[2016-10-20 12:38] mmazzarolo commented on #11
Thanks man, merged :) I'll publish it on npm soon

[2016-10-23 20:16] ipeychev opened #29 "Doesn't work properly on Android 7"
The module doesn't work properly on Android 7. The iBeacons are being detected and in the next second undetected, and then again detected... despite the phone stays next to the beacon. It looks like connection is being lost every a few seconds. This issue does not exist on Android 6, it started to happen once the phone was upgraded to Android 7.

[2016-10-24 06:58] mmazzarolo commented on #29
I'll be honest with you, this is still an open issue I recently discovered and it is caused by [the altBeacon library](https://github.com/AltBeacon/android-beacon-library/issues?utf8=%E2%9C%93&q=android%207).
I already tried updating the AltBeacon library version (> 2.6) in the [build gradle](https://github.com/mmazzarolo/react-native-beacons-android/blob/master/android/build.gradle) and it broke

[2016-10-24 07:00] mmazzarolo commented on #25
@sudharsan1988 sorry for answering late but as I already stated [here](https://github.com/mmazzarolo/react-native-beacons-android/issues/29) I'm super busy and can't take a look at it at the moment :(

[2016-10-28 15:13] affibox opened #30 "Beacons duplication"
Heads up, the detected beacons are getting duplicated on the backend.

10-28 11:10:11.720 19437-19478/com.ruralking I/ReactNativeJS: 'Entered new beacons region!', { uuid: 'MyBeacons' }
10-28 11:10:11.740 19437-19478/com.ruralking I/ReactNativeJS: Beacons ranging started succesfully!
10-28 11:10:12.150 19437-19478/com.ruralking I/ReactNativeJS: 'Found beacons 1!', 22224
10-28 11:10:12.150 19437-19

[2016-10-28 15:36] mmazzarolo commented on #30
FYI: I can't keep up with it, I'm trying to move this repo to https://github.com/react-native-community, hope they can help.
https://twitter.com/mazzarolomatteo/status/792026320385499137

[2016-10-28 17:26] affibox commented on #30
For everyone out there using this module. This errors is happening because of the DeviceEventEmitter.

Everytime you restart you app after closing it using android back button, it adds a new event listener to the device. This causes duplication errors.

A fix will be to create a variable ike this '''var d = DeviceEventEmitter()''' and after finishing the detection remove the listener like this '''

[2016-10-28 17:26] #30 closed

[2016-11-10 12:53] ghost commented on #26
+1 please

[2016-11-14 07:32] ank-khandelwal commented on #26
+1

[2016-11-14 11:37] mmazzarolo opened #31 "MAINTAINER WANTED"
I'm having some trouble keeping up with the support for this library at the moment (I don't have any beacon available).
If you know Java a bit and you're willing to help just write me a message or open an issue. Thank you :)

[2016-11-14 17:58] mmazzarolo commented on #26
https://github.com/mmazzarolo/react-native-beacons-android/issues/31

[2016-12-04 08:27] nitkuk commented on #22
@levint can u send ur PR regarding eddystone

Thanks

[2016-12-05 13:48] felixaa commented on #29
Tried updating AltBeacon to 2.9.1. Unfortunately It wont detect the beacons at all now...

[2016-12-06 12:34] felixaa commented on #29
In Android N they seem to have changed up the BLE scanning behaviour

If you change the scanperiod to 6000 ms it should consistently show the beacons

[2017-01-10 14:23] nbastoWM opened #32 "startMonitoringForRegion doesn't take a region as parameter"
Hi,
I know you don't have time to continue this development but I just wanted to know if there's a mistake on using the startMonitoringForRegion or am I missing something.
The usage details state that you can send a region object as a paremeter, with an UUID, major and minor, but the function definition has only 2 string parameters: String regionId, String beaconUuid.

Am I missing something?

I w

[2017-01-24 20:32] efiorello opened #33 "Eddystone-estimote not detected when reload the app"
When I open the application for the first time I can list all the beacons nearby, but if I press the reload option I no longer see them. I have to close and restart.
Someone had the same problem?

(sorry for my poor english)

[2017-01-26 22:32] ardalann commented on #29
Fixed this issue and submitted a PR ( #34 ).

[2017-01-27 10:14] #29 closed

[2017-02-05 10:44] kzima commented on #33
Hi @mmazzarolo, @efiorello

I get this problem as well.
Interestingly enough, this worked ok with "react-native": "0.28.0" (see  https://github.com/MacKentoch/reactNativeBeaconExample).

Does anyone have an idea on how to reload react-native app without affecting beacon ranging?

[2017-02-05 15:18] Clowning opened #35 "No IBeacon detected"
Hi Mmazzarolo, thank you, your plugin is good !

But i have a problem, when a launch my app, my ibeacon is detected one time  every x secondes ! Sometimes, no ibeacon, some time i can see my ibeacon... I have tried on iPhone, and it works great!

Do you have an idea?

[2017-02-06 07:59] mmazzarolo commented on #35
Hey @Clowning, unfortunately I'm not able to maintain anymore this repo :( #31
Anyway I recently merged a PR #34 that might help you.
I have not published it to `npm` though, but you can try if from the `master branch` of this repository (let me know if it works for you, so I can push it to `npm`).

[2017-02-06 08:01] mmazzarolo commented on #33
Hey @efiorello and @kzima.
Unfortunately I can't keep up with this repo anymore #31, but I recently merged #34 which may help you :) You can try it from the master branch, let me know.

[2017-02-06 11:02] jonathanroze commented on #35
@mmazzarolo No you can't do that :o !! It's the only repo for ibeacons on Android :(( !

Ok so, i'ts definitively better, but not perfect ! Thank! I think you can push it to npm !

[2017-02-06 11:04] mmazzarolo commented on #35
@Clowning I know, I tried to reach for help/maintainers but without success ;(
Thank you for the feedback though, I'll publish it to npm this evening!

P.S.: Just retweeted the help request again

[2017-02-06 11:06] jonathanroze commented on #35
Yes .. It's weird ! Lot of people like Java aha !

Thank you :-) !

[2017-02-06 11:23] jonathanroze commented on #35
@mmazzarolo But do you have an idea to keep my application alive when user kill it ? :/

[2017-02-06 11:25] mmazzarolo commented on #35
If you mean when the app is removed even from the background... no.
The only way to do something like this is creating an Android Service (from the Java code), I'm sorry.  I started working on it in the past but had to give up because it was a time consuming task and I wasn't able to test it properly (no beacons available).

[2017-02-06 11:27] jonathanroze commented on #35
Arf !

Mhh but it's possible to run my javascript code from a Android Service ? I've never code that !

Send me your address i offer you a beacon :D aha

[2017-02-06 23:31] kzima commented on #33
@mmazzarolo @efiorello

I tried the new master code, but the problem of reload still exists.
I think it is more of a react-native reload problem.

@mmazzarolo I would love to help you maintain the project but have no experience with Java. Can you give me few tips on where to start and how to best debug and test the lib? What is your setup?

[2017-02-07 08:16] mmazzarolo commented on #33
@kzima actually... this is all Java/Android code, I would suggest you to learn a bit of Java and Android SDK first :)

[2017-02-09 14:57] juiceo commented on #33
+1

The problem occurs with iBeacon as well

[2017-02-16 12:53] MacKentoch commented on #35
Sad news... Even iOS one seems like no more maintained.

I can take case of iOS version (I may since I need it) but android...

[2017-02-16 12:55] mmazzarolo commented on #35
:(

[2017-02-16 12:57] MacKentoch commented on #35
I didn't even try bridging with android.

If it doesn't require to know android dev.

[2017-02-17 20:10] MacKentoch commented on #35
Hi @mmazzarolo,

As iOS version is no more maintained ([react-native-ibeacon](https://github.com/frostney/react-native-ibeacon)).

I've decided to handle it rather waiting a kind soul would evolve/fix it for us all (*you may remember that at the end of the year 2016, RN introduced a bad breaking change in iOS, ex: `#import RCTBrige` is now `#import <React/RCTBridge>`.*).

Here is my starting repos

[2017-02-18 10:09] mmazzarolo commented on #35
@MacKentoch of course man! Hope you'll bring back those repo to life!

[2017-02-18 11:08] MacKentoch commented on #35
Nice!

So I'll start Android now for real.

[2017-02-19 20:31] MacKentoch commented on #35
Glad to announce brand new: [react-native-ibeacons](https://github.com/MacKentoch/react-native-ibeacons#react-native-ibeacons).

it now (*= v0.3.1*) contains:
- exact content as `react-native-beacons-android` for Android
- exact content as `react-native-ibeacon` from iOS

It starts supports for
 - "react": ">=15.4.2",
 - "react-native": ">=0.41.2"

@Clowning I'm sorry I can't ensure support for pr

[2017-02-19 21:30] jonathanroze commented on #35
@MacKentoch I use the last version of React-Native :-) ! I can try your package during this week! I hope your documentation is good ! :p !

[2017-02-20 08:26] mmazzarolo commented on #35
@MacKentoch , I'm obviously going to link your repo in the README but first... may I give you a suggestion :)?
The package name you're using, `react-native-ibeacons`, is a bit misleading in my opinion because you're targeting "beacons" and not "ibeacons" (which are the one implementing the Apple spec)... am I right?

[2017-02-20 11:58] MacKentoch commented on #35
@mmazzarolo yes I agree with you that is not the best name...
It works with nearly any beacons.

Names I wanted are already taken in npm.
The best for me would have been:
- `react-native-beacons`
- `react-native-beacon`

I had to fast fix and merge iOS and Android in a first time.

I wanted to avoid long lasting names. But something like
- `react-native-beacons-manager`
- `react-native-beacons-api

[2017-02-20 16:38] mmazzarolo commented on #35
Both `react-native-beacons-manager` and `react-native-beacons-api` sound way nicer imo 🍹

[2017-02-21 13:15] MacKentoch commented on #35
here is the new one: [react-native-beacons-manager](https://github.com/MacKentoch/react-native-beacons-manager).

[2017-02-21 15:35] mmazzarolo commented on #35
@MacKentoch I linked your lib in the readme 👍

[2017-06-14 09:55] mnghn07 commented on #22
Hi,
May I ask if the library could support Eddystone now ?

[2017-10-15 03:37] oferRounds commented on #13
@OFranke have you managed to make the monitoring work also when the app is killed? (both iOS and Android)

[2018-02-08 05:38] sanpyaelin opened #36 "react-native-beacons-android:compileReleaseAidl FAILED"
[code]
I got this error when i run react-native run-android

[2018-07-04 06:29] longpro1601 opened #37 "How to detect iBeacons on array regions?"
### Version
1.0.1

### Platform
Android

### OS version

 android 7.0...

###Actual behavior
I have a array regions:
const regions =[
{
    identifier: 'Estimotes_1',
    uuid: 'uuid_1'
},
{
    identifier: 'Estimotes_2',
    uuid: 'uuid_2'
},
{
    identifier: 'Estimotes_3',
    uuid: 'uuid_3'
},
]

How to detect iBeacons on array regions?
I tried but not work.
Beacons.startRangingBeaconsInRegion

[2018-11-04 22:14] Najeisleem opened #38 "How to use getMonitoredRegions"
i tried to use getMonitoredRegions and the array of beacons return but how can i access to this array to check if beacon found or not and if not found i will start monitoring new beacon to check enter or exit to send notification

sorry for bad english

[2018-11-04 22:44] #38 closed

[2018-11-10 10:05] Najeisleem commented on #26
there is any update on this issue ?

[2018-11-10 14:30] mmazzarolo commented on #26
Sorry @Najeisleem , this library is not actively maintained anymore.

[2018-11-10 14:30] #26 closed

[2018-11-10 14:30] mmazzarolo commented on #37
Sorry @longpro1601  , this library is not actively maintained anymore.

[2018-11-10 14:30] #37 closed

[2018-11-10 14:53] Najeisleem commented on #26
Also the beacon manager library

On Sat, Nov 10, 2018, 4:30 PM Matteo Mazzarolo <notifications@github.com
wrote:

[2018-11-11 12:25] Najeisleem commented on #26
dear @mmazzarolo
what about MacKentoch/react-native-beacons-manager library? its same ?

[2019-03-26 11:30] vvavdiya opened #39 "Is it compatible with react-native latest version v0.59"

[2019-12-17 13:33] savaskalkan commented on #35
Dude, I am trying to use this package(react-native-beacons-manager).
But I can not make it run. There is no function like this.
"requestWhenInUseAuthorization"
I got error because of this.

Btw I am using react native 0.59.10
Also I used package for android. it has work but not find beacons.

[2020-10-31 09:05] krystianNie opened #40 "Problem with use BeaconMenager"
Hi

I'm new in React Native. Now I'm trying to write app which is about conecting beacon devices with mobile phone on android. When i m trying use this library I have error like this "Unable to resolve 'react-native-beacons-android from App.js".

Maybe someone know how to use this beacon library? I don't know what to do with this.